/* CSS Override */

/* General */
@font-face {
    font-family: 'Matrix Book';
    src: url('../fonts/matrix_book.ttf');
}

body {
    font-family: 'Matrix Book';
    position: relative;
    background-image: url('/img/congruent_outline.png');
}

p {
    text-align: justify;
}

a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

/* Button Group (always absolute inside 'relative' div) */
.button-group {
    display: block;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

/* Header */
.header-container {
    position: relative;
    margin: auto;
    padding: 30px 0;
    background: #000;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
}

.home-logo {
    position: absolute;
    width: 250px;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center
}

.home-logo img{
    width: 250px;
}

.header-container .navbar {
    width: 1000px;
    margin: auto;
    padding: 0;
    background: transparent;
    border: none;
    border-radius: 10px;
    background-color: rgba(128,128,128,0.5);
}

.header-container .navbar ul {
    padding: 0;
    margin: 0;
}

.navbar-item {
    position: relative;
    display: inline-block;
    float: left;
    min-width: 120px;
    height: 58px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
}

.navbar-item:hover{
    background-color: rgba(227,1,19,0.5);
}

.navbar-item a {
    position: relative;
    display: block;
    width: 100%;
    padding: 10px;
    color: #fff;
}

.navbar-item a:hover {
    font-style: normal;
}

.dropdown-default li a {
    padding: 10px 20px;
    font-size: 16px;
}

.login-dropdown {
    width: 250px;
    padding: 10px;
    background-color: #000;
}

/* Main Content */
.main-container {
    width: 1020px;
    min-height: 360px;
    margin: 40px auto 0;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
}

.main-title {
    display: block;
    margin-bottom: 40px;
}

.main-title h1 {
    margin: 0;
}

.main-title h1 span {
    color: #ddd;
}

/* Home */
.home-container {
    width: 1000px;
    margin: 20px auto 0;
    position: relative;
}

.home-sidebar {
    float: left;
    width: 280px;
    margin-right: 20px;
}

.home-content {
    float: left;
    width: 700px;
}

.home-content h1 {
    margin-bottom: 40px;
}

/* Users/Participants Index */
.people-list {
    display: inline-block;
    list-style: none;
    padding: 0;
}

.people-list-item {
    display: inline-block;
    float: left;
    width: 200px;
    margin: 0 25px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.people-list-item a {
    display: block;
    color: inherit;
}

.people-list-item a:hover {
    background-color: #ddd;
}

.people-thumbnail {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: 0 auto 10px;
    padding: 10px;
}

.people-info {
    margin: 0;
    padding-bottom: 10px;
    text-align: center;
    font-size: 18px;
}

/* Login (Standalone) */
.login-box {
    display: block;
    width: 500px;
    margin: auto;
    padding: 10px;
}

/* User Profile */
.profile-container {
    position: relative;
    border: 2px #E30113 solid;
    border-radius: 10px;
    margin: 0;
}

.profile-sidebar {
    min-height: 450px;
    color: #fff;
    background-color: #E30113;
    border-radius: 10px 0 0 10px;
}

.profile-sidebar p {
    font-size: 20px;
    text-align: center;
}

.profile-picture {
    max-width: 100%;
    width:100%;
    height:auto;
    display:block;
    padding-top:100%;
    border-radius:50%;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.profile-menu {
    width: 100%;
}

.profile-menu a {
    display: block;
    margin: 10px 0;
    font-size: 20px;
    color: #fff;
}

.profile-menu a:hover {
    color: #000;
}

.profile-main .stats .stats-item p {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

.profile-main .stats .stats-item .stats-number {
    font-size: 40px;
}

.profile-main .general-info {
    font-size: 18px;
}

.profile-extra {
    padding: 10px;
    font-size: 18px;
}

.profile-extra h3 {
    margin: 0 0 20px 0;
}

/* Tournaments */
.tournaments-list {
    width: 100%;
    display: inline-block;
    list-style: none;
    padding: 0;
}

.tournaments-list-item {
    display: inline-block;
    padding: 0;
    float: left;
    width: 100%;
    margin: 0 auto 20px;
    border: 2px #E30113 solid;
    border-radius: 10px;
}

.tournaments-list-item a {
    display: block;
    color: inherit;
}

.tournaments-list-item a h3 {
    margin: 0 0 10px 0;
    padding: 10px 0;
    text-align: center;
    background-color: #E30113;
    color: #fff;
    font-weight: 600;
    border-radius: 10px 10px 0 0;
}

.tournament-details {
    height: 120px;
    padding: 15px;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
}

.tournament-details .highlight {
    font-weight: 600;
}

/* Matches */
.matches-list {
    width: 100%;
    display: inline-block;
    padding: 0;
}

.matches-list-item {
    display: inline-flex;
    align-items: center;
    height: 170px;
    width: 310px;
    padding: 10px 0;
    margin: 0 10px 10px;
    border: 2px solid #E30113;
    border-radius: 5px;
}

.matches-list-item img {
    height: 70px;
}

.matches-list-item h3 {
    font-size: 14px;
}

.matches-list-item .scores {
    margin: 0;
    font-size: 30px;
}

.matches-printout {
    width: 100%;
    font-size: 18px;
}

/* Articles */
.articles-list {
    width: 100%;
    display: inline-block;
    list-style: none;
    padding: 0;
}

.articles-list-item {
    display: inline-block;
    padding: 20px;
    float: left;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
}

.articles-list-item:hover{
    background-color: #ddd;
}

.articles-list-item a {
    display: block;
    color: #333;
}

.articles-list-item a h1 {
    margin-top: 0;
}

/* Footer */
.footer-container {
    margin-top: 50px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -120px;
    width: 100%;
    height: 70px;
    padding: 5px 0 70px;
    background: #000;
}

.footer-container p {
    width: 1000px;
    margin: auto;
    color: #fff;
}